stablepy==0.6.0
torch==2.2.0
gdown
opencv-python
unidecode
Cython
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
torch
torchvision
Unidecode
pyopenjtalk --global-option="--no-build-isolation"
ffmpeg
jamo
cn2an
gradio==3.50.2
pypinyin
jieba